 /* Additional inline CSS for improved styling */
 .content{
    margin-top: -2px;
}

.contact-title{
    text-align: center;
    font-size: 2rem;
}

.contact-title::after
{
  content: '';
  border-bottom: 3px solid #ccc;
  width: 6%;
  display: block;
  margin: 10px auto 50px;
}

.contact-section{
    display: flex;
    justify-content: space-between;
}
.contact-left, .contact-right{
    width: 40%;
    color: #ccc;
}

.contact-left h3{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.contact-left h3::after
{
  content: '';
  border-bottom: 3px solid #ccc;
  width: 15%;
  display: block;
  margin-bottom: 20px;
}

.contact-container {
    padding: 7rem;
    font-family: 'Roboto', sans-serif;
}

.contact-container p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form div {
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 0.75rem;
    border: none;
    background-color: rgb(82, 82, 82);
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    /* background-color: #333; */
}

#responseMessage {
    margin-top: 1rem;
    color: green;
}

.query{
    display: none;
}