/* Product Categories Section */
#product-categories {
    text-align: center;
    padding: 50px 0;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.category-list a {
    text-decoration: none;
    display: block;
    width: 250px; /* Keep the width consistent for all category items */
}

.category-list img {
    width: 50%;
    object-fit: contain; /* Ensure the whole image fits without cropping */
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.category-list img:hover {
    transform: scale(1.05); /* Slight hover effect */
}

.category-list p {
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

