/* @media only screen and (min-width: 601px) {
    header {
        font-size: 1.3em;
    }
    #nav{
        font-size: 1em;
    }
}

@media (max-width: 1920px), (max-height: 1080px) {
    .category-list a img {
        width: 100%;
        height: 316px;
        object-fit: cover;
        transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
    }
}

@media only screen and (min-width: 320px) {
    .category-list a img {
        width: 100%;
        height: auto;
        transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
    }
} */

@media screen and (max-width: 768px) {
    #nav{
        padding: 0 1rem;
    }
    .nav-links{
        display: none;
        position: absolute;
        width: 50vw;
        height: 33vh;
        top: 8vh;
        right: 0;
        background-color: #000000eb;
    }

    .nav-links.active{
        display: block;
    }

    .nav-links li{
        text-align: center;
        padding: 2vh;
        font-size: 2vh;
        border: 1px solid #cccccc24;
    }

    .nav-links li:last-child a {
        margin-right: 3rem;
    }

    .menu-toggle{
        display: flex;
        font-size: 1.5rem;
    }

    

    .service-list{
        flex-wrap: wrap;
    }

    .services-item{
        width: 45%;
        padding-bottom: 1.5rem;
    }

    #product-categories{
        padding: 0px;
    }

    .section-title{
        padding-top: 8vh;
    }

    .category-list{
        flex-wrap: wrap;
    }

    .category-list a {
        width: 45%;
    }

    #video-section{
        height: 45vh;
        background-size: cover;
    }

    .video-overlay{
        top: 40%;
        left: 50%;
        width: 75%;
        background: rgb(0 0 0 / 89%);
    }

    #footer{
        padding: 20px;
        padding-top: 40px;
    }

    .footer-content{
        flex-direction: column;
    }

    .right-section{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    /* PRODUCT PAGES */

    #products .products-item{
        width: 45%;
    }

    .products-item p{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }

    .products-item .price{
        font-size: 1rem;
    }

    .product-label h4{
        font-size: 1.7rem;
        padding-top: 1rem;
    }

    .products-item .overlay{
        background: rgb(0 0 0 / 73%)
    }

    .products-item .overlay .btn{
        font-size: 12px;
        padding: 3px 6px;
    }

    .view-details{
        margin-top: 12px;
        font-size: 10px;
    }

    /* ABOUT US */
    #about h2{
        padding-top: 2rem;
    }
    .about-container p{
        font-size: 14px;
    }

    /* CONTACT */
    .contact-container{
        padding: 2rem;
    }

    .contact-title{
        padding-top: 2rem;
    }

    .contact-section{
        flex-wrap: wrap;
    }

    .contact-left, .contact-right{
        width: 100%;
    }

    .contact-text{
        text-align: justify;
    }
    
    .query{
        display: block;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .query::after{
        content: '';
        border-bottom: 3px solid #ccc;
        width: 30%;
        display: block;
    }


    /* CART */
    .cart-data{
        flex-wrap: wrap;
    }

    .user-details-form, .cart-list{
        width: 100%;
    }

    .cart-list{
        padding-top: 3rem;
    }

    .submit-desktop{
        display: none;
    }

    .submit-mobile{
        display: block;
        margin-bottom: 2rem;
    }

    .product-name{
        width: 60%;
        font-size: 14px;
    }

    .product-price{
        width: 40%;
        font-size: 14px;
        text-align: right;
    }

    /* FOOTER */
    .footer-address{
        font-size: 12px;
        text-align: center;
    }

    .quick-links{
        display: none;
    }

    .right-section{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .mobile-hide{
        display: none;
    }

    .subscribe{
        text-align: center;
    }

}

@media (max-width: 1920px), (max-height: 1080px) {
    .category-list a img {
        width: 100%;
        height: 316px;
        object-fit: cover;
        transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
    }
}