@media screen and (max-width: 768px) {
    .nav-links{
        display: none;
    }

    .menu-toggle{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0.5;
    }
}

@media only screen and (min-width: 601px) {
  header {
    font-size: 1.3em;
  }
 #nav{
    font-size: 1em;
}

@media (max-width: 1920px), (max-height: 1080px) {
    .category-list a img {
    width: 100%;
    height: 316px;
    object-fit: cover;
    transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
}
}

@media only screen and (min-width: 320px) {
 .category-list a img {
    width: 100%;
    height: auto;
    transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1);
}
